@font-face{
    font-family:"roboto";
    src:url(fonts/roboto-regular.woff2) format("woff2"),
    src:url(fonts/roboto-regular.woff) format("woff");
}

body{
    display:flex;
    justify-content: center;
    font-family:"roboto", sans-serif;
    font-size:16px;
}

a{
    text-decoration:none;
}

ul{
    list-style-type:none;
}

.contenido{
    width:1360px;
}

header{
    display:flex;
    padding:10px 0 20px 0;
}

nav{
    flex-basis:1360px;
    justify-content:center; 
}

.banner{
    width:100%;
}

.Menu_Principal{
    display:flex;
    justify-content:center; 
    font-size:18px;
}

.Menu_Principal li{
    flex-grow:0.05;
}

.Menu_Principal a{
    color:#333;
}

main {
    padding:20px 0;
}
article{
   display:flex;
   align-items: center;
}

.zona_Superior_Edificios{
    margin-left:0px;
}

.zona_Inferior_Edificios{
    margin-right:0px;
}

.zona_Inferior{
   flex-direction: row-reverse;
}

footer{
    background:#2385E0;
    height:300px;
    color:white;
}

footer a{
   color:white;
}

h5{
    font-size:16px;
}
   
.listas_footer{
     display:flex;
     justify-content: left;
     margin-bottom:70px;/* empuja al p copyright hacia abajo hasta el final del footer*/
}

footer ul{
    margin:0px;
    padding:0px;
}

footer li{
    margin:15px 0;
}

.social{
    flex-basis:200px;
    padding-left:20px;
}

.Acerca{
    flex-basis:900px;
}

footer p{
    text-align:center;
}

